# local context ()
## by  median method
ge can bet the outlier 
we are accepting lagitimate value or going to consider it is a outliner value oe noise value

In [3]:
import pandas as pd
filedata=pd.read_csv('D:\\Python_test\\dataset.csv')
print(filedata)
filedata

   ID       City  Items   Price Payment   Tax Transaction
0   1    Colombo      3   500.0       ?  0.25         yes
1   2  Singapore      2  1500.0       0  0.31         yes
2   3  Singapore      4  2000.0       1  1.20         yes
3   4      Tokyo   4300  1300.0       0  0.80          no
4   5  Melbourne      6     1.3       0  0.50          no
5   6  Singapore      4  1800.0       1  0.30          no
6   7          ?      5   700.0       1  0.40         yes

   ID       City  Items   Price Payment   Tax Transaction
0   1    Colombo      3   500.0       ?  0.25         yes
1   2  Singapore      2  1500.0       0  0.31         yes
2   3  Singapore      4  2000.0       1  1.20         yes
3   4      Tokyo   4300  1300.0       0  0.80          no
4   5  Melbourne      6     1.3       0  0.50          no
5   6  Singapore      4  1800.0       1  0.30          no
6   7          ?      5   700.0       1  0.40         yes

In [14]:
item_column=filedata.iloc[:,2].values
labels=filedata.iloc[:,6].values

In [19]:
item_column,labels

(array([   3,    2,    4, 4300,    6,    4,    5], dtype=int64),
 array(['yes', 'yes', 'yes', 'no', 'no', 'no', 'yes'], dtype=object))

In [21]:
import numpy as np
median=np.median(item_column)
print(median)

cutoff=median*3

lower,upper=median-cutoff,median+cutoff
lower,upper

4.0

(-8.0, 16.0)

In [30]:
for row_data in item_column:
    if row_data<lower or row_data>upper:
        print(row_data)

4300

to fond no data compared to another column

In [8]:
yes_item=filedata[filedata['Transaction']=='yes'].iloc[:,2].values
no_item=filedata[filedata['Transaction']=='no'].iloc[:,2].values

In [10]:
print(yes_item,no_item)

[3 2 4 5] [4300    6    4]

In [24]:
# range of normality for the lebel yes
yes_median=np.median(yes_item)
print(yes_median)

yes_cutoff=yes_median*3

yes_lower_cutoff=yes_median-yes_cutoff
yes_upper_cutoff=yes_median+yes_cutoff

yes_lower_cutoff,yes_upper_cutoff

3.5

(-7.0, 14.0)

In [25]:
# range of normality for the lebel no
no_median=np.median(no_item)
print(no_median)

no_cutoff=no_median*3

no_lower_cutoff=no_median-no_cutoff
no_upper_cutoff=no_median+no_cutoff

no_lower_cutoff,no_upper_cutoff

6.0

(-12.0, 24.0)

In [26]:
# detecting noise value for yes lebel

for yes_rowdata in yes_item:
    if yes_rowdata < yes_lower_cutoff or yes_rowdata > yes_upper_cutoff:
        print(yes_rowdata)

In [29]:
# detecting noise value for no lebel

for no_rowdata in no_item:
    if no_rowdata < no_lower_cutoff or no_rowdata > no_upper_cutoff:
        print(no_rowdata)

4300